[Unit]
Description=Herald Exe Server Service
After=network.target
Wants=network.target

[Service]
#User=herald
#Group=herald
Type=simple
ExecStart=/usr/bin/herald-exe-server -config /etc/herald-exe-server/config.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
